name: Tests
on:
  push:
    branches:
      - main
      - "feature/**"

jobs:
  test-stable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup install nightly --profile default
      - run: rustup default nightly
      - run: cargo test
